header.header-thanks
  .wrapper
    .header-thanks__container
      img.header-thanks__logo(src="images/header-logo.png" loading="lazy" width="400" height="111" alt="logo")
      .header-thanks__text.font-s-12 Франшиза сети ресторанов <br> по доставке японской еды
      .header-thanks__connection
        a(href="tel:+79000000000")
          img.header__connection-icon(src="images/connection-icon.svg" loading="lazy" width="24" height="24" alt="icon")
        include ../components/phone-number.pug
