section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__icon(src="images/reasons-section-icon.png" loading="lazy" width="394" height="564" alt="icon")
      h2.reasons-section__title.font-w-a-regular.font-s-50
        span причины <br> открыть
        span AKATSUKI <br> SUSHI
      .swiper-reasons
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-1.png" loading="lazy" width="376" height="242" alt="icon")
            .reasons-section__card-text.font-s-18 Стабильно высокий спрос <br> и широкие возможности
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-2.png" loading="lazy" width="376" height="242" alt="icon")
            .reasons-section__card-text.font-s-18 Большая маржинальность <br> и высокая рентабельность
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-3.png" loading="lazy" width="376" height="242" alt="icon")
            .reasons-section__card-text.font-s-18 Надежная и проверенная <br> финансовая модель
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-4.png" loading="lazy" width="376" height="242" alt="icon")
            .reasons-section__card-text.font-s-18 Самореализация и статус <br> хозяина бизнеса
        .reasons-pagination.swiper-progress-reasons
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="521" height="520" alt="image")
      .reasons-section__text.font-s-18
        | Узнайте о других преимуществах 
        br.no-br
        | бизнеса по франшизе AKATSUKI SUSHI
      .reasons-section__sub-title.font-w-a-regular.font-s-50
        | Скачайте подробную 
        br.no-br
        | презентацию
      .reasons-section__bottom
        form.reasons-section__form(data-feedback-form)
          input.input.input--secondary.reasons-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary.reasons-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.reasons-item(type="submit") Скачать презентацию
