section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-a-regular.font-s-50
        | Откройте собственный 
        br.no-br
        | бизнес вместе с нами
      .support-section__sub-title.font-s-18
        | Команда AKATSUKI SUSHI поддержит вас на всех этапах
      .swiper-support
        .support-section__cards.swiper-wrapper
          .support-section__card.support-section__card-transparent.swiper-slide
            .support-section__card-num.font-s-18 1
            .support-section__card-text.font-s-18 Обеспечим пошаговое <br> становление бизнеса
          .support-section__card.support-section__card-white.swiper-slide
            .support-section__card-num.font-s-18 2
            .support-section__card-text.font-s-18 Предоставим <br> дистанционное <br> обучение
          .support-section__card.support-section__card-transparent.support-margin-card.swiper-slide
            .support-section__card-num.font-s-18 3
            .support-section__card-text.font-s-18 Обучим очно <br> администраторов <br> и поваров
          .support-section__card.support-section__card-transparent.support-margin-card.swiper-slide
            .support-section__card-num.font-s-18 4
            .support-section__card-text.font-s-18 Направим команду <br> специалистов для <br> запуска бизнеса
          .support-section__card.support-section__card-white.support-margin-card.swiper-slide
            .support-section__card-num.font-s-18 5
            .support-section__card-text.font-s-18 Обучим специфике <br> продаж
          .support-section__card.support-section__card-white.support-margin-card.swiper-slide
            .support-section__card-num.font-s-18 6
            .support-section__card-text.font-s-18 Добавим на <br> официальный сайт
          .support-section__card.support-section__card-transparent.swiper-slide
            .support-section__card-num.font-s-18 7
            .support-section__card-text.font-s-18 Поможем с введением <br> социальных сетей
          .support-section__card.support-section__card-transparent.swiper-slide
            .support-section__card-num.font-s-18 8
            .support-section__card-text.font-s-18 Дадим любые <br> консультации, касающиеся <br> ведения бизнеса
        .support-pagination.swiper-progress-support
      .support-section__images
        img.support-section__img-1(src="images/support-section-img-1.jpg" loading="lazy" width="520" height="800" alt="image")
        img.support-section__img-2(src="images/support-section-img-2.jpg" loading="lazy" width="520" height="800" alt="image")
      .support-section__bottom
        .support-section__bottom-title.font-w-a-regular.font-s-32
          | Получите подробный план 
          br.no-br
          | по открытию AKATSUKI SUSHI
        form.support-section__form(data-feedback-form)
          input.input.input--secondary.main-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary.main-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.main-item-btn(type="submit") Скачать презентацию
