.invest-section
  // background-image: url('../images/invest-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color #000

  &__container
    text-align: center
    position relative
    color: #fff
    padding 20px 0 1px 0
    +above($breakpoints.sm)
      padding 50px 0 50px 0
    +above($breakpoints.md)
      padding 90px 0 90px 0
    +above($breakpoints.xxl)
      padding 120px 0 119px 0

  &__img-1
    position absolute
    top: 48px
    left: -35px
    width 50px
    height: auto
    +above($breakpoints.sm)
      width 80px
      left: 80px
      top: 80px
    +above($breakpoints.md)
      width 120px
      left: 0
      top: 150px
    +above($breakpoints.xxl)
      width 160px
      left: 0
      top: 193px

  &__img-2
    position absolute
    top: 48px
    right: -35px
    width 50px
    height: auto
    +above($breakpoints.sm)
      width 80px
      right: 80px
      top: 80px
    +above($breakpoints.md)
      width 120px
      right: 0
      top: 150px
    +above($breakpoints.xxl)
      width 160px
      right: 0
      top: 193px

  &__sub-title
    padding 10px 0 25px 0
    +above($breakpoints.sm)
      padding 20px 0 35px 0
    +above($breakpoints.md)
      padding 25px 0 50px 0
    +above($breakpoints.xxl)
      padding 30px 0 70px 0

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-direction: row
      justify-content center
      gap: 10px
    +above($breakpoints.md)
      gap: 20px
    +above($breakpoints.xxl)
      gap: 40px

  &__card
    position relative
    width 280px !important
    +above($breakpoints.sm)
      width 235px !important
    +above($breakpoints.md)
      width 308px !important
    +above($breakpoints.xxl)
      width 360px !important

  &__card-num
    width 30px
    height: 30px
    color: #fff
    background-color #A11403
    border-radius: 50%
    display: flex
    justify-content center
    align-items: center
    position: absolute
    top: -15px
    left: 50%
    transform: translateX(-50%)
    +above($breakpoints.sm)
      top: -20px
      width 40px
      height: 40px
    +above($breakpoints.md)
      width 50px
      height: 50px
      top: -25px
    +above($breakpoints.xxl)
      width 60px
      height: 60px
      top: -30px

  &__card-header
    background-color #424241
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    padding 25px 0 20px 0
    +above($breakpoints.sm)
      padding 30px 0 20px 0
    +above($breakpoints.md)
      padding 36px 0 25px 0
    +above($breakpoints.xxl)
      padding 44px 0 26px 0

  &__card-body
    background-color #fff
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    padding 15px 15px 15px 15px
    +above($breakpoints.sm)
      padding 20px 20px 20px 20px
    +above($breakpoints.md)
      padding 20px 20px 30px 20px
    +above($breakpoints.xxl)
      padding 30px 20px 40px 20px

  &__card-img
    width 250px
    height: auto
    margin-bottom 20px
    border-radius: 20px
    +above($breakpoints.sm)
      width 195px
    +above($breakpoints.md)
      margin-bottom 30px
      width 268px
    +above($breakpoints.xxl)
      width 320px

  &__form
    display: flex
    flex-direction: column
    align-items: center
    gap: 8px
    +above($breakpoints.md)
      gap: 10px

.invest-item
  height: 55px
  +above($breakpoints.sm)
    height: 60px
  +above($breakpoints.md)
    height: 70px
  +above($breakpoints.xxl)
    height: 80px

.invest-item-btn
  height: 55px
  +above($breakpoints.sm)
    height: 65px
  +above($breakpoints.md)
    height: 90px
  +above($breakpoints.xxl)
    height: 100px
